doctype html
html
  head
    title Hello, WebVR! - A-Frame
    meta(name='description', content='Hello, WebVR! - A-Frame')
    script(src='js/aframe.js')
  body
    a-scene
      a-box(position='-1 0.5 -3', rotation='0 45 0', color='#4CC3D9')
      a-sphere(position='0 1.25 -5', radius='1.25', color='#EF2D5E')
      a-ring(position='5 3 -15', radius='1.25', rotation='45 0 45' color='#EF2D5E')
      a-cylinder(position='1 0.75 -3', radius='0.5', height='1.5', color='#FFC65D')
      a-plane(position='0 0 -4', rotation='-90 0 0', width='4', height='4', color='#7BC8A4')
      a-torus-knot(color='#B96FD3', position='-4 1 -4', radius-tubular='0.05', p='7')
      a-dodecahedron(color='#B96FD3', position='4 1 -4')
      a-text(value='Hello A-Frame, DGJung' color='#111' position='0 2.5 -2' align='center')
      a-sky(color='#ECECEC')