body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

#ui {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Karla', sans-serif;
    z-index:1;
}

#magic-window {
    display: block;
    color: white;
    margin-top:1em;
}

/*for 5.Creating_text.js */
#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}